
<header id="topBar" class="topBar"></header>

<section id="blocks" class="blocks">
    <h2 hidden="">blocks section</h2>
    <span id="block1" class="blueBlock"></span>
    <span id="block2" class="blueBlock blueBlock-center"></span>
    <span id="block3" class="blueBlock"></span>
</section>

<footer id="bottomBar" class="footer"></footer>